<main class="page" [ngClass]="this.backgroundClass">
  <section class="top">
    <div class="top__titles">
      <h1 class="top__titles__name">{{pokemon.name}}</h1>
      <p class="top__titles__id"><b>{{pokemon.id}}</b></p>
    </div>
    <div class="top__types">
      <ng-container *ngFor="let type of pokemon.types">
          <p class="top__types__type">{{type}}</p><br />
      </ng-container>
    </div>
      
    <img *ngIf="pokemon.image" class="top__image" src={{pokemon.image}} alt={{pokemon.name}}>
  </section>
  <section class="bottom">
    <nav class="bottom__nav">
      <ul class="bottom__nav__menu">
        <li class="bottom__nav__item" [ngClass]="{'bottom__nav__item--active' : activeDetails === 'about'}" (click)="setActiveDetails('about')">About</li>
        <li class="bottom__nav__item" [ngClass]="{'bottom__nav__item--active' : activeDetails === 'stats'}" (click)="setActiveDetails('stats')">Base Stats</li>
        <li class="bottom__nav__item" [ngClass]="{'bottom__nav__item--active' : activeDetails === 'evolution'}" (click)="setActiveDetails('evolution')">Evolution</li>
        <li class="bottom__nav__item" [ngClass]="{'bottom__nav__item--active' : activeDetails === 'moves'}" (click)="setActiveDetails('moves')">Moves</li>
      </ul>
    </nav>
    <div class="bottom__details" [ngClass]="detailsPosition">
      
      <div class="bottom__details__about">
        <p class="bottom__details__about__description">{{pokemon.description}}</p>
        <div class="bottom__details__about__heightAndWeight">
          <h6>Height</h6>
          <h6>Weight</h6>
          <p>{{pokemon.height}} cm</p>
          <p>{{pokemon.weight}} kg</p>
        </div>
        <div class="bottom__details__about__others">
          <h6>Base Happiness</h6>
          <p>{{pokemon.happiness}}</p>
          <h6>Shape</h6>
          <p>{{pokemon.shape}}</p>
          <h6>Habitat</h6>
          <p>{{pokemon.habitat}}</p>
          <h6>Egg Group</h6>
          <p>{{pokemon.eggGroup}}</p>
        </div>
      </div>
      
      <div class="bottom__details__stats">
        <div class="bottom__details__stats__box" *ngFor="let stat of pokemon.stats">
          <h6>{{stat.name}}</h6>
          <p>{{stat.baseValue}}</p>
        </div>
      </div>

      <div class="bottom__details__evolution">
        Evolution content
      </div>

      <div class="bottom__details__moves">
        <div class="bottom__details__moves__total">
          <h6>Total Available Moves</h6>
          <p>{{pokemon.moves.length}}</p>
        </div>
        <div class="bottom__details__moves__list">
          <h6>Name</h6>
          <h6>Level Learned</h6>
          <h6>Learned by</h6>
          <ng-container class="bottom__details__stats__box" *ngFor="let move of pokemon.moves">
            <p>{{move.move.name}}</p>
            <p>{{move.version_group_details[0].level_learned_at}}</p>
            <p>{{move.version_group_details[0].move_learn_method.name}}</p>
          </ng-container>
        </div>  
      </div>
    </div>
    
    
  </section>
</main>