<main class="page" [ngClass]="this.backgroundClass">
  <section class="top">
    <div class="top__titles">
      <h1 class="top__titles__name">{{pokemon.name}}</h1>
      <p class="top__titles__id"><b>{{pokemon.id}}</b></p>
    </div>
    <div class="top__types">
      <ng-container *ngFor="let type of pokemon.types">
          <p class="top__types__type">{{type}}</p><br />
      </ng-container>
    </div>
      
    <img *ngIf="pokemon.image" class="top__image" src={{pokemon.image}} alt={{pokemon.name}}>
  </section>
  <section class="bottom">
    <nav class="bottom__nav">
      <ul class="bottom__nav__menu">
        <li class="bottom__nav__item" [ngClass]="{'bottom__nav__item--active' : activeDetails === 'about'}" (click)="setActiveDetails('about')">About</li>
        <li class="bottom__nav__item" [ngClass]="{'bottom__nav__item--active' : activeDetails === 'stats'}" (click)="setActiveDetails('stats')">Stats</li>
        <li class="bottom__nav__item" [ngClass]="{'bottom__nav__item--active' : activeDetails === 'evolution'}" (click)="setActiveDetails('evolution')">Evolution</li>
        <li class="bottom__nav__item" [ngClass]="{'bottom__nav__item--active' : activeDetails === 'moves'}" (click)="setActiveDetails('moves')">Moves</li>
      </ul>
    </nav>
    <div class="bottom__details" [ngClass]="detailsPosition">
      <div class="details__about">
        About content
      </div>
      <div class="details__stats">
        Stats content
        <ng-container *ngFor="let stat of pokemon.stats">
          <p class="bottom__stats__stat">{{stat.name}}</p>
          <p class="bottom__stats__stat">{{stat.baseValue}}</p>
        </ng-container>
      </div>
      <div class="details__evolution">
        Evolution content
      </div>
      <div class="details__moves">
        Moves content
      </div>
    </div>
    
    
  </section>
</main>