
$border-radius-small: 5px;
$border-radius-normal: 10px;
$border-radius-large: 20px;

$white: #fcfcfc;
$white-primary: #FBFDFF;

$lightergray: #f5f5f5;
$lightgray: #f4f4f4;
$gray: #c4c4c4;
$darkgray: gray;

$black: #303030;

$green: rgb(27,208,176);
$darkgreen: rgb(122, 182, 145);
$red: rgb(250,108,108);
$blue: rgb(118,189,254);
$yellow : rgb(255,216,111);
$purple : rgb(124,83,140);
$brown : rgb(128, 99, 54);
$grey: rgb(209, 188, 160);
$darkgrey : rgb(121, 121, 121);
$steel : rgb(45, 46, 56);
$black : rgb(25, 16, 51);
$gold : rgb(240, 171, 68);
$pink : rgb(249, 218, 217);
$bgwhite : rgb(238, 233, 225);

